[submodule "pack/github/start/copilot.vim"]
	path = pack/github/start/copilot.vim
	url = https://github.com/github/copilot.vim.git
[submodule "pack/nvim/start/nvim-lspconfig"]
	path = pack/nvim/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig
